# PROJET 5 : Segmentez des clients d'un site e-commerce (Suite1)

## CREER MON JEU DE DONNEES

### Importer les librairies

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os
from zipfile import ZipFile
pd.set_option("display.max_rows", 101)
pd.options.display.max_columns = 999

### Importer mon jeu de données utile

In [2]:
z = ZipFile("../P5/df_utile.zip")
df_utile = pd.read_csv(z.open('df_utile.csv'))

df_utile.shape

(18190011, 19)

In [3]:
df_utile.dtypes.all

<bound method Series.all of Unnamed: 0                         int64
customer_unique_id                object
customer_id                       object
customer_city                     object
customer_state                    object
geolocation_lat                  float64
geolocation_lng                  float64
order_id                          object
order_purchase_timestamp          object
order_delivered_customer_date     object
order_item_id                    float64
product_id                        object
price                            float64
freight_value                    float64
payment_type                      object
payment_installments             float64
payment_value                    float64
review_score                       int64
product_category_name_english     object
dtype: object>

In [4]:
df_utile.dtypes.value_counts()

object     10
float64     7
int64       2
dtype: int64

In [5]:
df_utile

,Unnamed: 0,customer_unique_id,customer_id,customer_city,customer_state,geolocation_lat,geolocation_lng,order_id,order_purchase_timestamp,order_delivered_customer_date,order_item_id,product_id,price,freight_value,payment_type,payment_installments,payment_value,review_score,product_category_name_english
0,0,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,-20.509897,-47.397866,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,1.0,a9516a079e37a9c9c36b9b78b10169e8,124.99,21.88,credit_card,2.0,146.87,4,office_furniture
1,1,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,-20.497396,-47.399241,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,1.0,a9516a079e37a9c9c36b9b78b10169e8,124.99,21.88,credit_card,2.0,146.87,4,office_furniture
2,2,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,-20.510459,-47.399553,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,1.0,a9516a079e37a9c9c36b9b78b10169e8,124.99,21.88,credit_card,2.0,146.87,4,office_furniture
3,3,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,-20.480940,-47.394161,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,1.0,a9516a079e37a9c9c36b9b78b10169e8,124.99,21.88,credit_card,2.0,146.87,4,office_furniture
4,4,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,-20.515413,-47.398194,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,1.0,a9516a079e37a9c9c36b9b78b10169e8,124.99,21.88,credit_card,2.0,146.87,4,office_furniture
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18190006,18190006,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,-23.599369,-46.905603,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,1.0,017692475c1c954ff597feda05131d73,13.99,7.78,credit_card,1.0,21.77,5,perfumery
18190007,18190007,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,-23.593577,-46.910112,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,1.0,017692475c1c954ff597feda05131d73,13.99,7.78,credit_card,1.0,21.77,5,perfumery
18190008,18190008,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,-23.584425,-46.892014,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,1.0,017692475c1c954ff597feda05131d73,13.99,7.78,credit_card,1.0,21.77,5,perfumery
18190009,18190009,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,-23.595022,-46.918546,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,1.0,017692475c1c954ff597feda05131d73,13.99,7.78,credit_card,1.0,21.77,5,perfumery
18190010,18190010,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,-23.594067,-46.909609,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,1.0,017692475c1c954ff597feda05131d73,13.99,7.78,credit_card,1.0,21.77,5,perfumery

### Remplacer les valeurs manquantes Categorique

In [6]:
df_objet = df_utile[['customer_unique_id', 'customer_id', 'customer_city','customer_state', 'order_id',
                     'order_purchase_timestamp', 'order_delivered_customer_date', 'product_id', 'payment_type',
                    'product_category_name_english']]

In [7]:
df_objet

,customer_unique_id,customer_id,customer_city,customer_state,order_id,order_purchase_timestamp,order_delivered_customer_date,product_id,payment_type,product_category_name_english
0,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office_furniture
1,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office_furniture
2,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office_furniture
3,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office_furniture
4,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office_furniture
...,...,...,...,...,...,...,...,...,...,...
18190006,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,perfumery
18190007,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,perfumery
18190008,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,perfumery
18190009,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,perfumery
18190010,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,perfumery

In [8]:
df_objet=df_objet.apply(lambda x:x.fillna(x.value_counts().index[0]))
df_objet.isnull().sum()

customer_unique_id               0
customer_id                      0
customer_city                    0
customer_state                   0
order_id                         0
order_purchase_timestamp         0
order_delivered_customer_date    0
product_id                       0
payment_type                     0
product_category_name_english    0
dtype: int64

### Remplacer les valeurs manquantes Numerique

In [9]:
df_num = df_utile[['geolocation_lat', 'geolocation_lng', 'order_item_id', 'price', 'freight_value', 'payment_installments',
                  'payment_value', 'review_score']]

In [10]:
df_num

,geolocation_lat,geolocation_lng,order_item_id,price,freight_value,payment_installments,payment_value,review_score
0,-20.509897,-47.397866,1.0,124.99,21.88,2.0,146.87,4
1,-20.497396,-47.399241,1.0,124.99,21.88,2.0,146.87,4
2,-20.510459,-47.399553,1.0,124.99,21.88,2.0,146.87,4
3,-20.480940,-47.394161,1.0,124.99,21.88,2.0,146.87,4
4,-20.515413,-47.398194,1.0,124.99,21.88,2.0,146.87,4
...,...,...,...,...,...,...,...,...
18190006,-23.599369,-46.905603,1.0,13.99,7.78,1.0,21.77,5
18190007,-23.593577,-46.910112,1.0,13.99,7.78,1.0,21.77,5
18190008,-23.584425,-46.892014,1.0,13.99,7.78,1.0,21.77,5
18190009,-23.595022,-46.918546,1.0,13.99,7.78,1.0,21.77,5
18190010,-23.594067,-46.909609,1.0,13.99,7.78,1.0,21.77,5

In [11]:
df_num = df_num.fillna(df_num.median())
df_num.isnull().sum()

geolocation_lat         0
geolocation_lng         0
order_item_id           0
price                   0
freight_value           0
payment_installments    0
payment_value           0
review_score            0
dtype: int64

### Réunir les dataframes catégorique et numèrique dans une seul dataframe(data)

In [12]:
data = pd.concat([df_objet,df_num], axis=1)

In [13]:
data

,customer_unique_id,customer_id,customer_city,customer_state,order_id,order_purchase_timestamp,order_delivered_customer_date,product_id,payment_type,product_category_name_english,geolocation_lat,geolocation_lng,order_item_id,price,freight_value,payment_installments,payment_value,review_score
0,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office_furniture,-20.509897,-47.397866,1.0,124.99,21.88,2.0,146.87,4
1,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office_furniture,-20.497396,-47.399241,1.0,124.99,21.88,2.0,146.87,4
2,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office_furniture,-20.510459,-47.399553,1.0,124.99,21.88,2.0,146.87,4
3,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office_furniture,-20.480940,-47.394161,1.0,124.99,21.88,2.0,146.87,4
4,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office_furniture,-20.515413,-47.398194,1.0,124.99,21.88,2.0,146.87,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18190006,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,perfumery,-23.599369,-46.905603,1.0,13.99,7.78,1.0,21.77,5
18190007,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,perfumery,-23.593577,-46.910112,1.0,13.99,7.78,1.0,21.77,5
18190008,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,perfumery,-23.584425,-46.892014,1.0,13.99,7.78,1.0,21.77,5
18190009,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,perfumery,-23.595022,-46.918546,1.0,13.99,7.78,1.0,21.77,5
18190010,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,perfumery,-23.594067,-46.909609,1.0,13.99,7.78,1.0,21.77,5

### Nombre de valeurs uniques par variable

In [14]:
data.nunique()

customer_unique_id                96096
customer_id                       99441
customer_city                      4119
customer_state                       27
order_id                          99441
order_purchase_timestamp          98875
order_delivered_customer_date     95664
product_id                        32951
payment_type                          5
product_category_name_english        71
geolocation_lat                  691481
geolocation_lng                  691745
order_item_id                        21
price                              5968
freight_value                      6999
payment_installments                 24
payment_value                     29077
review_score                          5
dtype: int64

### Cartographier la catégorisation de produit

In [15]:
dict_categories = {
#domicile
'furniture_living_room' : 'home',
'furniture_mattress_and_upholstery' : 'home',
'furniture_bedroom' : 'home',
'furniture_decor' : 'home',
'bed_bath_table' : 'home',
'kitchen_dining_laundry_garden_furniture' : 'home',
'la_cuisine' : 'home',
'home_confort' : 'home',
'home_comfort_2' : 'home',
'christmas_supplies' : 'home',
    
#appareils ménagers
'small_appliances' : 'appliances',
'small_appliances_home_oven_and_coffee' : 'appliances',
'home_appliances_2' : 'appliances',
'home_appliances' : 'appliances',
'housewares' : 'appliances',
    
#construction
'construction_tools_construction': 'construction',
'costruction_tools_garden': 'construction',
'costruction_tools_tools': 'construction',
'construction_tools_safety': 'construction',
'construction_tools_lights': 'construction',
'home_construction': 'construction',
'air_conditioning': 'construction',
    
#bureau
'office_furniture' : 'office',
'industry_commerce_and_business' : 'office',
'stationery' : 'office',
'agro_industry_and_commerce' : 'office',
'signaling_and_security' : 'office',
'furnitures' : 'office',
'security_and_services' : 'office',
#électronique
'telephony' : 'electronics',
'electronics': 'electronics',
'computers_accessories': 'electronics',
'consoles_games': 'electronics',
'fixed_telephony': 'electronics',
'audio': 'electronics',
'computers': 'electronics',
'tablets_printing_image': 'electronics',
#loisirs sportifs
'sports_leisure' : 'sports_leisure',
'musical_instruments': 'sports_leisure',
'party_supplies': 'sports_leisure',
'luggage_accessories': 'sports_leisure',
#arts
'books' : 'arts',
'books_imported': 'arts',
'books_general_interest': 'arts',
'books_technical': 'arts',
'art': 'arts',
'toys': 'arts',
'cine_photo': 'arts',
'cds_dvds_musicals': 'arts',
'music': 'arts',
'dvds_blu_ray': 'arts',
'arts_and_craftmanship': 'arts',
#mode
'watches_gifts' : 'fashion',
'fashion_bags_accessories' : 'fashion',
'fashion_underwear_beach' : 'fashion',
'fashion_shoes' : 'fashion', 
'fashion_male_clothing' : 'fashion',
'fashio_female_clothing' : 'fashion',
'fashion_sport' : 'fashion',
'fashion_childrens_clothes' : 'fashion',
#beauté santé
'health_beauty' : 'health_beauty', 
'baby': 'health_beauty',
'diapers_and_hygiene' : 'health_beauty',
'perfumery' : 'health_beauty',
#jardin et animaux de compagnie
'flowers' : 'garden_pets',
'pet_shop' : 'garden_pets',
'garden_tools' : 'garden_pets',
#auto
'auto' : 'auto',
#boissons alimentaires
'food_drink' : 'food_drinks',
'food' : 'food_drinks',
'drinks' : 'food_drinks',
#autre
'Unknown' : 'other',
'market_place' : 'other', 
'cool_stuff' : 'other'}

In [16]:
data['product_category_name_english'] = data['product_category_name_english'].map(dict_categories)

In [19]:
data

,customer_unique_id,customer_id,customer_city,customer_state,order_id,order_purchase_timestamp,order_delivered_customer_date,product_id,payment_type,product_category_name_english,geolocation_lat,geolocation_lng,order_item_id,price,freight_value,payment_installments,payment_value,review_score
0,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office,-20.509897,-47.397866,1.0,124.99,21.88,2.0,146.87,4
1,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office,-20.497396,-47.399241,1.0,124.99,21.88,2.0,146.87,4
2,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office,-20.510459,-47.399553,1.0,124.99,21.88,2.0,146.87,4
3,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office,-20.480940,-47.394161,1.0,124.99,21.88,2.0,146.87,4
4,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-25 10:35:35,a9516a079e37a9c9c36b9b78b10169e8,credit_card,office,-20.515413,-47.398194,1.0,124.99,21.88,2.0,146.87,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18190006,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,health_beauty,-23.599369,-46.905603,1.0,13.99,7.78,1.0,21.77,5
18190007,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,health_beauty,-23.593577,-46.910112,1.0,13.99,7.78,1.0,21.77,5
18190008,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,health_beauty,-23.584425,-46.892014,1.0,13.99,7.78,1.0,21.77,5
18190009,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,health_beauty,-23.595022,-46.918546,1.0,13.99,7.78,1.0,21.77,5
18190010,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 14:27:23,2017-12-26 18:42:36,017692475c1c954ff597feda05131d73,credit_card,health_beauty,-23.594067,-46.909609,1.0,13.99,7.78,1.0,21.77,5

### Type de variable

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18190011 entries, 0 to 18190010
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   customer_unique_id             object
 1   customer_id                    object
 2   customer_city                  object
 3   customer_state                 object
 4   order_id                       object
 5   order_purchase_timestamp       object
 6   order_delivered_customer_date  object
 7   product_id                     object
 8   payment_type                   object
 9   product_category_name_english  object
 10  geolocation_lat                float64
 11  geolocation_lng                float64
 12  order_item_id                  float64
 13  price                          float64
 14  freight_value                  float64
 15  payment_installments           float64
 16  payment_value                  float64
 17  review_score                   int64
dtypes: float64(7), int64(1), object(10)
memory usage: 2.4+ GB

### Mettre au format les dates

In [21]:
data['order_purchase_timestamp'] = data['order_purchase_timestamp'].astype('datetime64')
data['order_delivered_customer_date'] = data['order_delivered_customer_date'].astype('datetime64')

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18190011 entries, 0 to 18190010
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   customer_unique_id             object
 1   customer_id                    object
 2   customer_city                  object
 3   customer_state                 object
 4   order_id                       object
 5   order_purchase_timestamp       datetime64[ns]
 6   order_delivered_customer_date  datetime64[ns]
 7   product_id                     object
 8   payment_type                   object
 9   product_category_name_english  object
 10  geolocation_lat                float64
 11  geolocation_lng                float64
 12  order_item_id                  float64
 13  price                          float64
 14  freight_value                  float64
 15  payment_installments           float64
 16  payment_value                  float64
 17  review_score                   int64
dtypes: datetime64[ns](2), float64(7), int64(1), object(8)
memory usage: 2.4+ GB

### Créer la variable delai_dernier_achat

In [23]:
data['Delai_dernier_achat'] = data['order_purchase_timestamp'].max() - data['order_purchase_timestamp']
data['Delai_dernier_achat'] = data['Delai_dernier_achat'].apply(lambda x: x.days)

### Créer la variable Delai_Moy_Livraison

In [24]:
data['Delai_Moy_Livraison'] = data['order_delivered_customer_date'] - data['order_purchase_timestamp']
data['Delai_Moy_Livraison'] = data['Delai_Moy_Livraison'].apply(lambda x: x.days)

### Créer la variable Heure_achat

In [25]:
data['Heure_achat'] = data['order_purchase_timestamp'].apply(lambda x: x.hour)

### Créer la variable Jour_achat

In [26]:
data['Jour_achat'] = data['order_purchase_timestamp'].apply(lambda x: x.weekday())

### Créer ma nouvelle base de données

In [27]:
data_f = data.groupby('customer_unique_id').agg(Nb_pdts = pd.NamedAgg(column= 'product_id', aggfunc=np.count_nonzero),
                                                 Nb_com = pd.NamedAgg(column= 'order_id', aggfunc=np.count_nonzero),
                                                 Mont_max_achats = pd.NamedAgg(column= 'price', aggfunc=sum),
                                                 Mont_moy_achats = pd.NamedAgg(column= 'price', aggfunc=np.mean), 
                                                 Note_Moy_Com = pd.NamedAgg(column= 'review_score', aggfunc=np.mean),
                                                Date_dernier_achat = pd.NamedAgg(column= 'order_purchase_timestamp', aggfunc=max),
                                                 Villes = pd.NamedAgg(column= 'customer_city', aggfunc=np.unique),
                                                 Cat_prod = pd.NamedAgg(column= 'product_category_name_english',aggfunc=np.unique),
                                                Delai_moy_dernier_achat = pd.NamedAgg(column= 'Delai_dernier_achat',aggfunc=np.mean),
                                               Delai_Moy_Livraison = pd.NamedAgg(column= 'Delai_Moy_Livraison',aggfunc=np.mean),
                                               Heure_achat_moy = pd.NamedAgg(column= 'Heure_achat',aggfunc=np.mean),
                                               Jour_achat_moy = pd.NamedAgg(column= 'Jour_achat',aggfunc=np.mean),
                                               Type_paiement = pd.NamedAgg(column= 'payment_type',aggfunc=np.unique),
                                               Note_facil_pai_moy = pd.NamedAgg(column= 'payment_installments',aggfunc=np.mean),
                                               Latitude = pd.NamedAgg(column= 'geolocation_lat',aggfunc=np.mean),
                                               Longitude = pd.NamedAgg(column= 'geolocation_lng',aggfunc=np.mean))

In [28]:
data_f

,Nb_pdts,Nb_com,Mont_max_achats,Mont_moy_achats,Note_Moy_Com,Date_dernier_achat,Villes,Cat_prod,Delai_moy_dernier_achat,Delai_Moy_Livraison,Heure_achat_moy,Jour_achat_moy,Type_paiement,Note_facil_pai_moy,Latitude,Longitude
customer_unique_id,,,,,,,,,,,,,,,,
0000366f3b9a7992bf8c76cfdf3221e2,66,66,8573.40,129.90,5.0,2018-05-10 10:56:27,cajamar,home,160.0,6.0,10.0,3.0,credit_card,8.0,-23.340235,-46.830140
0000b849f77a49e4a4ce2b2a4ca5be3f,144,144,2721.60,18.90,4.0,2018-05-07 11:11:27,osasco,health_beauty,163.0,3.0,11.0,0.0,credit_card,1.0,-23.559115,-46.787626
0000f46a3911fa3c0805444483337064,117,117,8073.00,69.00,3.0,2017-03-10 21:05:03,sao jose,office,585.0,25.0,21.0,4.0,credit_card,8.0,-27.542880,-48.633426
0000f6ccb0745a6a4b88665a16c9f078,32,32,831.68,25.99,4.0,2017-10-12 20:29:41,belem,electronics,369.0,20.0,20.0,3.0,credit_card,4.0,-1.312214,-48.483159
0004aac84e0df4da2b147fca70cf8255,133,133,23940.00,180.00,5.0,2017-11-14 19:45:42,sorocaba,electronics,336.0,13.0,19.0,1.0,credit_card,6.0,-23.505548,-47.469705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffcf5a5ff07b0908bd4e2dbc735a684,28,28,21980.00,785.00,5.0,2017-06-08 21:00:36,sanharo,health_beauty,495.0,27.0,21.0,3.0,credit_card,10.0,-8.362511,-36.562343
fffea47cd6d3cc0a88bd621562a9d061,72,72,4672.08,64.89,4.0,2017-12-10 20:07:56,feira de santana,health_beauty,310.0,30.0,20.0,6.0,credit_card,1.0,-12.217395,-38.959308
ffff371b4d645b6ecea244b27531430a,55,55,4944.50,89.90,5.0,2017-02-07 15:49:16,sinop,auto,617.0,14.0,15.0,1.0,credit_card,1.0,-11.834552,-55.508110
ffff5962728ec6157033ef9805bacc48,40,40,4600.00,115.00,5.0,2018-05-02 15:17:41,bom jesus do norte,fashion,168.0,11.0,15.0,2.0,credit_card,5.0,-21.126568,-41.672806
ffffd2657e2aad2907e67c3e9daecbeb,12,12,683.88,56.99,5.0,2017-05-02 20:18:45,campo largo,health_beauty,532.0,7.0,20.0,1.0,credit_card,4.0,-25.447504,-49.441283

In [29]:
data_f.describe()

,Nb_pdts,Nb_com,Mont_max_achats,Mont_moy_achats,Note_Moy_Com,Delai_moy_dernier_achat,Delai_Moy_Livraison,Heure_achat_moy,Jour_achat_moy,Note_facil_pai_moy,Latitude,Longitude
count,96096.000000,96096.000000,9.609600e+04,96096.000000,96096.00000,96096.000000,96096.000000,96096.000000,96096.000000,96096.000000,96096.000000,96096.000000
mean,189.289991,189.289991,2.291811e+04,126.113976,4.06942,289.093905,8.516399,14.781971,2.755083,2.902503,-21.184617,-46.173914
std,265.823243,265.823243,6.327405e+04,190.877817,1.35386,153.163042,36.484386,5.293118,1.957070,2.679104,5.614325,4.053192
min,1.000000,1.000000,5.600000e+00,0.850000,1.00000,0.000000,-453.000000,0.000000,0.000000,0.000000,-33.689948,-72.668881
25%,57.000000,57.000000,3.451000e+03,42.990000,4.00000,165.000000,6.000000,11.000000,1.000000,1.000000,-23.588380,-48.097776
50%,114.000000,114.000000,8.857900e+03,79.000000,5.00000,271.000000,10.000000,15.000000,3.000000,2.000000,-22.922759,-46.629056
75%,228.000000,228.000000,2.204039e+04,139.900000,5.00000,398.000000,15.000000,19.000000,4.000000,4.000000,-20.140022,-43.601769
max,11427.000000,11427.000000,6.662844e+06,6735.000000,5.00000,772.000000,319.000000,23.000000,6.000000,24.000000,42.184003,-8.723762

### Sauvegarde du jeu de données data_f

In [30]:
compression_opts = dict(method='zip', archive_name='data_f.csv')
data_f.to_csv('data_f.zip', index=True, compression=compression_opts)